@import "../../variable";
.logo{
    .tool-left-editor{
        background: inherit;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}
.app-font{
    font-weight: 200;
    font-size: smaller;
    letter-spacing: 0.8px;
   // color:$text-color;
}
.app-font-dbname{
    font-weight: 200;
    font-size: smaller;
    letter-spacing: 0.8px;
    color:$text-color;
}
.editor-container{
    margin:0px;
    padding:0px;

  
    .editor-partion-left{
        padding:0px;
        background:$left-panel-background;
    }
    .editor-partion-right{
        padding:0px;
        background:$right-panel-background;
        border-left: 3px solid #1a2024;
        height: 720px;
       // color: white !important;
        .background-primary-color {
            background-color: #1575df !important;
        }
    }
    .img-head-editor{
        max-width:44px;
       //max-height:44px;
       // margin-left:44%;
    }
    .tool-left-editor{
         background: #040607;
        .widgets-flex{
            flex:1 1 auto;
            margin-left: 6px;
        }
        

    }
    .prop-top-buffer{
        margin-top: -62px;
}
    .tool-right-editor{
        background: inherit;
        button:disabled{
            background-color: grey !important;
          }
    }
    .removemargin{
        margin:0px;
        width:100%;
    }

    .background-primary-color {
    background-color: #3F51B5!important;
    
  }
  .background-primary-color-cancel{
      background: transparent;
      border:solid 1px #a0a1a1;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #FFF!important;
}
.draggable-widget-charts-height{
    height:300px;
}

.draggable-widget-charts{

    padding: 20px;
    background-color: #040607;
   // width: 94%;
   // margin-top: 3px;;
   // max-height:400px;
    //left:0;
          //  top: 0;
            overflow: auto; 
            min-height:auto;
            max-height:100%;
           
    @include scrollbars(.5em, slategray);
    .widget-list{
        width: 85%;
    }
    .mat-grid-tile{
        background: transparent!important;
      //  border:solid 1px #a0a1a1;
        border-radius: 10px;
    }
    .hidden-widget{
        display:none;
    }
    .border-tile-grid {
     border:solid 4px #1473e6;
 
   }
   .widget-image-style{
       width: 100%;
   }
}
.draggable-widget-charts-prop{
   // width: 94%;
   // margin-left: 3%;
    max-height:400px;
    left:0;
    font-size: 12px;
    background-color: #040607;
            top: 0;
            overflow: auto; 
            min-height:auto;
         //   max-height:100%;
          //  height:300px;
         height: 210px;
      //  height: -webkit-fill-available;
    @include scrollbars(.5em, slategray);
    .hidden-prop{
        display:none;
    }
    input{
        background: inherit;
        height: 30px;
        border: 1px solid #a0a1a1;
       width: 112px;
       padding-left: 2px;
    }
    


}
.aligntoselect{
    height: 30px;
    position: relative;
    max-width: 100px;
 //   line-height: 2.5em;
    color:white;
}
.mat-select{
    border:solid 1px #a0a1a1;
}
.rowpadding{
    padding-bottom: 4%;
}
.image-width{
  
    width: 100%;
    max-width: 500px;
 
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-grid-common{
    .content-area{
        height: 100%;
        width: 100%;
            background-color: #2f363a;
      
    }
    .content-title{
        height: 40px;
        font-size: 15px;
        background: 2f363a;
        padding: 14px;
        border-bottom: 1px solid #394044;
        text-transform: uppercase;
        b{
            font-size: 13px;
        }
        
    }
    .content-body{
       // margin-top: 3%;
       // padding: 10px;
       height: -webkit-fill-available; 
    }
    h6{
        margin: 0px;


    }
}

 
}
.widget-title{
    font-size: 12px;
    margin-left: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #040607;
}
.delbtn{
    margin-left: 20%;
   // text-align:right;
    font-size: 14px;
    font-family: none;
    &:after{
        content: 'x';
        font-weight: 300;
        font-family: Arial,  sans-serif;
    }
}
