
 @import "../../variable";  
 

.background-primary-color {
    background-color: $button-color-submit;
  }

  .background-primary-color-cancel{
      background: transparent;
      border:solid 1px white;
  }

  
    